ion-content {
  --color: #fff;
}

ion-chip {
  --background: antiquewhite;
}

ion-label.sc-ion-label-md-h.sc-ion-label-md-s.md.hydrated {
  text-align: center;
}
.toolbar-background{
    background: bisque;
}