<div class="modal-body">
  <form formGroup="form">
    <div>
      <div class="list">
          <label class="item item-input">
            <input type="text" placeholder="Enter Employee ID" formControlName="empId"/>
          </label>    
    
          <label class="item item-input item-select item-stable">
            <div class="input-label">
              Select
            </div>
    
            <select formControlName="action">
              <option value="appreciate">Appreciate</option>
              <option value="applause">Applause</option>
            </select>
          </label>

          <label class="item item-input">
            <input type="textarea" placeholder="Enter Comments" formControlName="comment"/>
          </label>
        </div>
        <div class="footer">
          <button type="submit" (click)="submitAppreciation()">Submit</button>
        </div>
  </div>
  </form>
</div>