ion-content {
  // --background: #ddeedd;
  --color: #fff;
}

.toolbar-container {
  color: white;
  background: #667292;
}

h2 {
  text-align: center;
  color: black;
}

ion-item.item.md.ion-focusable.hydrated.item-label {
  padding: 10px 30px 10px 30px;
}
