<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Self Assessment
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header style="text-align:center;">
      Appreciate Someone ?
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header style="text-align:center;">
      You want to say someone thing ?
    </ion-card-header>
  </ion-card>
  <ion-card>

    <ion-list>
      <ion-item lines="full">
        <span item-start style="width:50px;">
          <ion-icon name="gift-outline" style="color: orange;zoom:2.0;"> </ion-icon>
        </span>
        <div class="verticalLine"></div>
        <div item-end>30</div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="full">
        <span item-start style="width:50px;">
          <ion-icon name="thumbs-up-outline" style="color: greenyellow;zoom:2.0;"> </ion-icon>
        </span>
        <div class="verticalLine"></div>
        <div item-end>21</div>
      </ion-item>
    </ion-list>
    <ion-list>
      <ion-item lines="full">
        <span item-start style="width:50px;">
          <ion-img src="./../assets/applause.jpg" style="color: #d64161;width:35px;height:35px;"></ion-img>
        </span>
        <div class="verticalLine"></div>
        <div item-end>20</div>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
