ion-content {
    // --background: #eaece5;
    --color: #fff;
  }
  .verticalLine {
    width:1%;
    height:50px;
    background:green;
    margin: auto;
    margin-top: 0;
    position: relative;
    margin-left: 10%;
  }